<launch>
  <!-- <arg name="" value=""/> -->
  <!-- <param name="depth_registered" value="true"/> -->
  <node pkg="aginika_pcl_ros" name="l1_skeletonization" type="l1_skeletonization" args="" output="screen" clear_params="true"/>

  <node pkg="topic_tools" type="relay" name="cloud_relay" args=" /selected_pointcloud /target_cloud" output="screen" clear_params="true"/>

  <node pkg="rviz" name="rviz" type="rviz" args="" output="screen" clear_params="true"/>
</launch>