<launch>
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" value="true"/>
  </include>

  <node pkg="topic_tools" type="throttle" name="depth_points_reduction" args=" messages /camera/depth_registered/points 1.0"/>

  <arg name="manager" default="pcl_nodelet_manager" />
  <arg name="input_point" default="/camera/depth_registered/points_throttle"/>

  <group ns="pcl_nodelet">
    <node pkg="nodelet" type="nodelet" name="$(arg manager)"
          args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="ground_segmentation" args="load pcl/SACSegmentation $(arg manager)"
          output="screen"
          clear_params="true"
          respawn="false">
      <remap from="~input" to="$(arg input_point)" />
      <rosparam>
        model_type: 9
        distance_threshold: 0.05
        max_iterations: 10000
        method_type: 0
        optimize_coefficients: true
        max_queue_size: 20
        min_inliers: 100
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="extract_nonground_indices" args="load pcl/ExtractIndices $(arg manager)" output="screen" respawn="true">
      <remap from="~input"   to="$(arg input_point)" />
      <remap from="~indices" to="ground_segmentation/inliers" />
      <rosparam>
        negative: true
        max_queue_size: 5000
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="normal_estimate"
          args="load pcl/NormalEstimationOMP $(arg manager)"
          clear_params="true">
      <remap from="~input" to="extract_nonground_indices/output" />
      <rosparam>
        radius_search: 0
        k_search: 10
        # 0, => ANN, 1 => FLANN, 2 => Organized
        spatial_locator: 2
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="normal_concat"
          args="load jsk_pcl/NormalConcatenater $(arg manager)"
          clear_params="true">
      <remap from="~input" to="extract_nonground_indices/output"/>
      <remap from="~normal" to="normal_estimate/output"/>
    </node>
    <!-- <node pkg="nodelet" type="nodelet" name="pcd_writer" -->
    <!--       args="load pcl/PCDWriter $(arg manager)" -->
    <!--       clear_params="true"> -->
    <!--   <remap from="~input" to="normal_concat/output"/> -->
    <!-- </node> -->
  </group>

</launch>