<launch>
  <!-- <arg name="" value=""/> -->
  <!-- <param name="depth_registered" value="true"/> -->
  <node pkg="aginika_pcl_ros" name="leaner" type="random_forests.py" args="$(env HOME)/feature_result/random_region_FPFH_Average/non_clothes/ $(env HOME)/feature_result/random_region_FPFH_Average/clothes/" output="screen" clear_params="true"/>

  <!-- <include file="$(find )/.launch"/> -->
</launch>